
.btn-Descargar{
    width: 50%;
    margin-right: 2%;
    text-align: center;
    margin-top: 6%;
    background-color: white;
    color: #414ECA;
    border: 3px solid #414ECA;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: 3%;
}

.btn-Subir{
    width: 50%;
    margin-right: 2%;
    text-align: center;
    background-color: white;
    color: #414ECA;
    border: 3px solid #414ECA;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: 3%;
}