
.Modal100{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.722);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    scroll-margin-top: 0;
    overflow-y:scroll;
    z-index: 1;
}

.Modal_container100{
    background-image: url("/queja.jpg");
    position: relative;
    top: 9rem;
    
    color: black;
    padding: 1em;
    width: 47%;
    border-radius: 5px;
}

.Modal_close-button100{
    position: absolute;
    top:0;
    right: 0;
    border: 0px;
    color: #F0792A;
    padding: 0.5rem 1rem;
}

.tittle100{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1%;
    position: relative;
    left: 5%;
    top: 28%;
    text-align: center;
}
