.btn-Sesion{
    width: 35%;
    margin-right: 2%;
    text-align: center;
    margin-top: 3%;
    background-color: white;
    color: #414ECA;
    border: 3px solid #414ECA;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
}

.imagen{
    background-image: url("/img_home.jpg");
    height: 100vh;
    margin-bottom: -497px;
    opacity: 0.3;
}

.fork{
    margin-top: 4%;
    font-weight: bold;
}

.dart{
    margin-bottom: -4px;
}