.container{
    margin-top: 20%;
    
}

.btn-Enviar{
    width: 35%;
    margin-right: 2%;
    text-align: center;
    margin-top: 6%;
    background-color: white;
    color: #414ECA;
    border: 3px solid #414ECA;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: 33%;
}

.btn-Enviar11{
    width: 35%;
    margin-right: 35%;
    /* text-align: center; */
    margin-top: 10%;
    background-color: white;
    color: #414ECA;
    border: 3px solid #414ECA;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: 33%;
}

.form{
    background-color: white;
    width: 70%;
    margin-left: 15%; 
}

.carreras{
    position: relative;
    top: 8px;
}

.text-1{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    margin-bottom: 0px;
}

.cont-color{
    background-color: #E5E5E5;
    width: 100%;
}

.contenedor-11{
    width: 110%;
    height: 105px;
    background: white;
    text-align: center;
}

.cont-color-c{
    background-color: #E5E5E5;
    width: 166px;
}

.text-2{
    text-align: center;
    font-size: 12px;
}