
.preview{
    margin-left: 15%;
    position: relative;
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid deeppink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}


 
.clearButton{
    width: 40%;
    margin-right: 2%;
    text-align: center;
    background-color: white;
    color: #414ECA;
    border: 3px solid #414ECA;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: 3%;
    margin-bottom: 10%;
}
